body {
    font-family: "Palatino Linotype","Times New Roman", Times, serif;
}

h1 {
    color: #0000ff;font-size: 40px;
}

p {
	font-size: 25px;color: black
    
}
a{
	font-size: 25px;
}
b{
	font-size: 25px;
	color: rgb(0,255,0);
}

